/****************************t 
  Main Navigation  
 *******************************/     


#mainNavigation, #mainNavigation_prim_only {
	height: 74px;
	width: 950px;
	float: left;
	clear: left;
	margin-bottom: 17px;
	position: relative;
	z-index: 10;
}

#secondaryNav ul {
	padding-left: 6px;
	padding-right: 6px;
	position: relative;
}

#secondaryNav ul li {
	/*padding: 0pt 0.35em;*/
	padding: 0pt 1px;
	float: left;
	display: block;
	line-height: 2.8em;
}

#secondaryNav ul a {
	color: #067AB4;
	display: block;
	float: left;
	line-height: 11pt;
	font-weight: normal !important;
       font-family: Arial !important;
	padding: 2px 16px 0pt 4px;
	/*padding: 5px 5px 0pt 15px;*/
	text-decoration: none;
	white-space: nowrap;
	font-size: 11px;outline:none;
       /*font-family:arial !important;*/
}


#secondaryNav ul li.selectedsingle a {
	color: #FF7200 !important;
	outline:none;
}

#secondaryNav ul li.dropdown {
	margin-right: -7px;
}

#secondaryNav ul li.nodropdown {
	margin-right: -7px;
	height: 40px;
	position: relative;
}

#secondaryNav ul li.dropdown div.submenu {
/*	position: absolute;*/
	top: 30px;
	clear: both;
	float: left;
	left: 3px;
	border: 1px solid #DCDCDC;
	border-top: none;
	width: auto;
	background-color: #FFF;
	display: none;
	padding: 8px 0px 20px 12px;
	position:relative;
/*	padding: 8px 0px 1px 1px;*/

}

#secondaryNav ul li.dropdown div.submenu table .secnavtwocol{
	margin-left: 20px;	
}

#secondaryNav ul li.dropdown div.submenu div.table1 {
	position:relative;
}

#secondaryNav ul div.submenu ul li {
	clear: both;
	padding: 0;
	margin-top: 5px;
	margin-right: 15px;
}

#secondaryNav ul div.submenu table {
	clear: both;
	padding: 0;
	margin-right: 0px;
}

#secondaryNav ul div.submenu table tr {
	clear: both;
	padding: 0;
	margin-right: 20px;
}

#secondaryNav ul div.submenu table tr td {
	clear: both;
	padding: 0;
	margin-right: 20px;
}


/*
#secondaryNav ul div.submenu ul {
  float: left;
  width: 12em;
  margin: 0;
  padding: 0;
  list-style: none;	
}

#secondaryNav ul div.submenu ul li {
  float: left;
  width: 6em;
  margin: 0;
  padding: 0;
}
*/

#secondaryNav ul li div.submenu ul {
	background: none;
	color: #067AB4;
	padding: 0;
	line-height: 8pt;
	font-size: 12px;
	padding-right: 0;
	margin-right: 0px;
}

#secondaryNav ul div.submenu ul  li ul li{
padding-left: 10px;
background: transparent url(/library/style/images/bullet_square_10x7.gif)  no-repeat;
background-position: 0 -.3em;
margin-top: 0px; 
margin-right: 0px; 
}


/*******************************
 * Header
 *******************************/

#header #searchForm input {
 border: 1px solid #8CBBD8;
 height: 18px;
 line-height: 18px;
 vertical-align: middle;
 font-size: 0.95em;
 margin-right: 2px;
}


/*******************************
 * Title
 *******************************/

h1#title {
	float: left;
	margin-bottom: 2px;
	padding-bottom: 10px;
	font-size: 22px; /* need to set line-height and font-size for IE */
	line-height: 1.1em;
	width: 60%;
	color: #444444;
       font-family:arial;  
}
 


/*******************************
 * Share this
 *******************************/

.share_this {
	float: right; 
	padding-top: 0px;
}

/*******************************
 * Breadcrumbs
 *******************************/

.breadcrumbs {
        color:#FF7200 !important;
	*color:#FF7200 !important;
	text-align: left; 
	font-size: 10px; 
	padding-top: 0px; 
	_padding-top: 0px; 
	padding-bottom: 15px;
	font-family: Verdana !important;  
}

.breadcrumbs span{
        color:#000 !important;
	*color:#000 !important;
	text-align: left; 
	font-size: 10px; 
	padding-top: 0px; 
	_padding-top: 0px; 
	padding-bottom: 15px;
	font-family: Verdana !important;  
}

.breadcrumbs a {
	font-weight: normal;
	font-family: Verdana !important; 
	font-size: 0.95em !important;outline:none;
}

.breadcrumbs a:visited{color:#067AB4 !important;
	*color:#067AB4 !important;outline:none;
}
/*******************************
 * Container
 *******************************/

/* the first container in 1 layout */
.first_950, .second_950 {
	width: 925px;
	float: left;
	clear: left;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	padding: 0px 11px 0px 11px;
	height: auto;
	float: left;
}

/* the first container in 1 layout mgnmgn*/
.first_950 {
	height: 160px;
	padding-top: 11px;
	padding-bottom:11px;
	background-color:transparent;
	background:url("/library/style/images/welcome_gradient_1x105.png") repeat-x left bottom;
	display: inline;
} 

.first_950 .block1 {
	width: 305px;
	height: 160px;
	min-height:160px;
	margin-top: 1px;
	margin-bottom: 1px;
	background: #808080;
	float: left;
	clear:both; 
	display:block; 
	position:relative; 
	overflow:hidden; 
}
  
.first_950 .block2 {
	width: 250px;
	height: 160px;
	min-height:160px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 15px;
	margin-right: 15px;
	background: transparent;
	float: left;
	display: block;
	overflow:hidden; 
	font-family: Arial;	font-size: 11px;
	color:#444444;
}
 
.first_950 .block3 {
	width: 335px;
	height: 160px;;
	background: #d6e3eb;
	float: left;
	display: inline;
	overflow:hidden; 
}
  
.second_950 .sidebar {
	margin-top: 11px;
}

.first_710 .content {
	float: left;
	padding: 0;
	height: auto;
	border: none;
	background: none;
	width: auto;
	position: relative;
}
 
.first_710 .content {
	padding: 7px 10px 10px 11px;
}


.block_710 .rr_accordian a.head {
	width: 410px;
}
	
.rr_accordian a#view_all {
	margin-right:2px;
}

.rr_accordian .body dl dt a{
	font-size: 12px;outline:none;
}


.rr_accordian .body dd p {
	line-height: 1.1em;
}

.tabs ul.tabnav li.activetab {
	z-index: 9;
}

.tabs div.tabsection {
	padding-top: 8px;
}

/****************************
downloads and media
****************************/


table.ledger {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Hides from IE-Mac \*/
* html .main .content table.ledger { border-collapse: collapse; }
/* End hide from IE-Mac */
t table.ledger tr td {
  border-left: 1px solid #d9d9d9;
  border-bottom: 0;
}
 table.ledger tr th {
  border-left: 1px solid #d9d9d9;
}
 table.ledger tr td:first-child,
 table.ledger tr th:first-child {
  border-left: 0;
}
table.ledger tr td.odd { background-color: #e4eef0; min-height: 32px; padding: 10px 7px 10px 7px;}
 table.ledger tr td.even { background-color: #fff; 	min-height: 32px; padding: 10px 7px 10px 7px;}

#content .first_230 .downloadsmedia h2 {
	color: #ff7200;
	font-family: Arial !important;
	font-size: 13px;
	font-weight: bold;
	padding-bottom:10px;
}

.viewall a{
 font-family: arial!important;    font-size: 12px!important;    font-weight: bold!important;
    color: #067AB4;outline:none;
}

/****************************
callout infographics
****************************/

#portfolio_listing p, #portfolio_listing h2, #portfolio_listing h3, #portfolio_listing ul,
#familyservice_listing p, #familyservice_listing h2, #familyservice_listing h3 {
clear: none;
padding-bottom: .5em;
padding-top: 4px;
}

#familyservice_listing ul {
clear: none;
padding-top: 4px;
}

#familyservice_listing ul.tabnav {
padding-top: 0px;
}

#portfolio_listing li, #familyservice_listing li  {
clear: none;
}

#familyservice_listing h3  {
padding-bottom: 12px;
}

#portfolio_listing .callout-left, #portfolio_listing .callout-right, #familyservice_listing .callout-left, #familyservice_listing .callout-right 
{
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
width: 200px; 
background-color:#ffff; 
padding-top: 10px;
padding-right: 0px;
padding-bottom: 5px;
padding-left: 0px;
}
 
#portfolio_listing .callout-left, #familyservice_listing .callout-left {
float:left;  
margin: 5px 20px 10px 0px; 
padding-top: 10px;
}
 
#portfolio_listing .callout-right, #familyservice_listing .callout-right  {
float:right;  
margin: 5px 0px 10px 20px;  
padding-top: 10px;
}
 
#portfolio_listing .infographic p, #familyservice_listing .infographic p
{
font-family: arial, helvetica, sans-serif;
font-size: 12px !important;
color: #555555;
padding 0;
margin: 0;
margin-bottom: 0px;
line-height: 16px !important;
}
 
#portfolio_listing .infographic h2, #familyservice_listing .infographic h2
{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
color: #808080 !important;
margin: 0;
margin-bottom: 10px;
}
 
#portfolio_listing .nonquote p, #familyservice_listing .nonquote p
{
font-family: arial, helvetica, sans-serif;
/*font-size: 11px;*/
color: #555555;
padding 0;
margin: 0;
margin-bottom: 0px;
}
 
#portfolio_listing .nonquote h2, #familyservice_listing .nonquote h2
{
font-family: arial, helvetica, sans-serif;
font-size: 13px !important;
color: #808080 !important;
margin: 0;
margin-top: -9px;
margin-bottom: 0px;
padding-bottom: 5px;
line-height: 17px !important;
}
 
#portfolio_listing .nonquote h3, #familyservice_listing .nonquote h3
{
font-family: arial, helvetica, sans-serif;
font-size: 12px !important;
line-height: 16px !important;
font-weight: bold;
color: #555555;
padding 0;
margin: 0;
margin-bottom: 0px;
}
 
 
#portfolio_listing .pullquote, #familyservice_listing .pullquote
{
background: #FFF url(/library/style/images/img_quotes.gif) no-repeat left 10px;
}
 
#portfolio_listing .pullquote h2, #familyservice_listing .pullquote h2
{
font-family: arial, helvetica, sans-serif;
font-size: 13px !important;
font-style: italic;
color: #808080 !important;
margin: 0;
margin-top: 14px;
padding-top: 15px;
margin-bottom: 5px;
line-height: 17px !important;
}
 
 
 
body > #portfolio_listing .callout-left .pullquote h2, #familyservice_listing .callout-left .pullquote h2 {
margin-top: 10px;
color: #808080;
}
 
body > #portfolio_listing .callout-right .pullquote h2, #familyservice_listing .callout-right .pullquote h2 {
margin-top: 10px;
color: #808080;
}
 
#portfolio_listing .pullquote h3, #familyservice_listing .pullquote h3
{
font-family: arial, helvetica, sans-serif;
font-size: 12px !important;
line-height: 16px !important;
font-weight: bold;
color: #555555;
padding 0;
margin: 0;
margin-bottom: 10px;
}
 
#portfolio_listing .pullquote p, #familyservice_listing .pullquote p
{
font-family: arial, helvetica, sans-serif;
font-size: 12px !important;
line-height: 16px !important;
color: #555555;
padding 0;
margin-top: 14px;
padding-top: 0px;
margin: 0;
}
 
* + html  #portfolio_listing .pullquote h2, #familyservice_listing .pullquote h2
{
padding-top: 14px;
margin-top:25px;
}

/*******************************
 * Sidebar Region
 *******************************/


 .first_710 .content {
float: left;
padding: 0;
height: auto;
border: none;
background: none;
width: auto;
position: relative;
}
 
.first_710 .content {
width: 680px;
}
 
.first_710 {
width: 680px;
}

.sidebar .content  .portfolio {
padding: 0 0 5px 0;
*padding: 0 0 10px 0;
}
 

.sidebar .content  .contactus {
padding: 0 0 0 0;
background: url(/library/style/images/welcome_gradient_1x105.png) repeat-x left bottom;	
}

.sidebar .content  .portfolio span {
background: url(/library/style/images/welcome_gradient_1x105.png) repeat-x left bottom;	
}


#content .sidebar  .portfolio h2 {
padding-left: 12px;
padding-top: 4px;
padding-bottom: 4px;
margin-top: 3px;
*margin-top: 5px;
font-weight: bold;
font-size: 13px;
font-family: Arial;
line-height: 17px !important;width:206px; 
}
 
#content .sidebar  .content .portfolio  p {
padding-left: 10px;
padding-right: 10px;
}
 
#content .sidebar .content .portfolio ul {
margin-left: 15px;
padding-right: 10px;
padding-bottom: 10px;
padding-top: 3px;margin-top:-7px;
}
 
#content .width230 .content .portfolio {
width: 228px;
}


div#portfolio_listing p, div#familyservice_listing p{
margin-bottom: 0px;
}
 
div#portfolio_listing h2{
margin-bottom: 5px;
margin-top: 10px;	
font-family: Arial !important;
font-size: 13px !important;
line-height: 16px !important;
}
 

div#familyservice_listing h2 {
margin-bottom: 5px;
margin-top: 10px;	
font-family: Arial !important;
font-size: 14px !important;
line-height: 17px !important;
}

#familyservice_listing h2, #portfolio_listing h2 {
line-height: 17px;
}

#familyservice_listing h3, #portfolio_listing h3 {
font-size: 13px !important;
line-height: 16px !important;
}


.sidebar .content  .familyservice {
	border: 1px solid #CCC;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	position: relative;
}
 
#content .sidebar  .familyservice h2 {
 
  background-color: #808080;
  font-weight: bold;
  color: #fff;
}
 
#content .sidebar  .familyservice  p {
 
padding-left: 10px;
padding-right: 10px;
}
 
 
 #content .sidebar .familyservice ul {
 margin-left: 10px;
 }




#content .width310 .content .portfolio 
{
width: 307px;
}

#content .width310 .content .familyservice 
{
width: 340px;
}

.width230 .content .familyservice {
	width: 206px;
}

#contactGroup {
padding-bottom:10px;
}

#contactGroup .group {
	background: url(/library/style/images/welcome_component.png) repeat-x left top;
}

#contactGroupLanding .group {
	background: url(/library/style/images/orange_overline_thick.png) repeat-x left top;
	margin-top: 32px;
}
#contactGroupLanding .group h2 { margin-top: 32px !important; *margin-top: 0px !important; font-size: 13px !important; line-height: 16px !important; padding-bottom: 5px;}
#contactGroupLanding #contactLanding span { top: 0px !important; }
#contactLanding h2 { 
	color: #FF7200;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	margin-bottom: 0px !important; 
	padding-top: 9px; 
	padding-bottom: 3px; 
}
#contactLanding li { line-height: 17px; }
#contactLanding a { color: #067AB4; font-weight: bold;outline:none;}
#portfolio_listing #contactLanding ul { margin-bottom: 20px; padding-top: 0px; padding-left: 0px; margin-left: 14px; }
#portfolio_listing #contactLanding li { font-family: Arial; font-weight: bold; }
#familyservice_listing #contactLanding ul { margin-bottom: 0px; padding-top: 0px; padding-bottom: 1px; padding-left: 0px; margin-left: 13px; }
#familyservice_listing #contactLanding li { font-family: Arial; font-weight: bold;  font-size: 12px !important; line-height: 16px !important;}

#contactGetStarted span, #contactGetStarted span ul, #contactGetStarted span ul li {	
	font-weight: bold;	
	padding-bottom: 3px;
}

#contactGetStarted ul {	
	padding-left: 3px;
	margin-bottom: 0px;
}

#contactGetStarted ul li {	
	padding-bottom: 3px;
}
#familyservice_listing #contactGetStarted UL{*margin-left:15px !important;}


/********************************************
 * Overlay Loading Media File using JWPlayer
 ********************************************/

.overlay {
	padding:0px;	
	display:none;
	font-family:Verdana;
	height:22px;
	width:600px;
	background-color:#dadada;
}		
.overlay #containerTitle {
	font-family:Verdana;
	width:585px; 
	font-size:8pt; 
	margin-top:4px; 
	margin-bottom:4px; 
	margin-left:10px; 
	vertical-align:middle;
}
.overlay .overlayTitle {
	float:left; 
	color:#444444;
}
.overlay .overlayClose {
	color: #444444; 
	float:right;
	vertical-align: middle; 
	font-size: 10pt; 
	font-family: Verdana; 
	text-decoration: none; 
	margin-top:-2px; 
	padding-bottom:4px
}
.overlay .overlayButton {
	font-family: verdana, arial; 
	border: 2px solid #000; 
	font-size:10px; 
	font-weight: 900;
}


/********************************************
 * Featured Content
 ********************************************/


#featuredContent {
	font-family:Verdana;
	font-size:11px;
	color:#444444;
	background: url(/library/style/images/welcome_gradient_1x105.png) repeat-x left bottom;	
}
.imgplyr {
	border: none; 
	opacity: 0.4; 
	filter:alpha(opacity=40); 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	margin-top: -37.5px; 
	margin-left: -37.5px;
}
.imgplay {
	border: none; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	margin-top: -15.5px; 
	margin-left: -5px;
}
.plybkg {
	background-color: #000;
	position:relative;
}
.audioplay {
	margin-left: -7px;
	margin-top: -7px;
}
.audioplay a {
	font-family:Verdana;
	font-size:11px;
	vertical-align: middle;
	margin-right: 75px;outline:none;
}

/*******************************
 * Other css
 *******************************/

.first_230 .group {
	width: 210px;
	height: 160px;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
	height: auto;
	float: left;
	clear:both;
	display: block;
	overflow:hidden;
}

.first_230 .group a {
	margin-top: 25px;outline:none;
}

.content h2.left  {
	float: left;
	display: block;
	clear: none;
}

.col_470 h2.left {
	width: 100%;
}

#relatedServiceDiv {
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 7px;
*margin-bottom: 6px;
    margin-left: 11px;
    margin-right: 0;
   
  margin-top: 12px;
*margin-top: -15px;
    width: 200px;
}

#servicesDiv {
	padding-bottom: 0px !important;
	*padding-bottom: 0px !important;
}

/** Added for NE3.0 redesign    **/

.newtext {
font-family: arial;
font-size: 13px;
font-weight: bold;
line-height: 16px;
color:#444444;
}

.bracket {
color: #444444;
font-family: arial;
font-size: 13px;
line-height: 16px;
}

div#familyservice_listing h2 {
font-family: arial;
font-size: 16px;
font-weight: bold;
color: #ff7200;
line-height: 19px;
}

div#familyservice_listing p {
font-family: arial;
line-height: 16px;
font-size: 13px;
color: #4444444 !important;
}

.odd a {
font-family: Arial;
font-size: 12px !important;
font-weight: bold !important;
color: #067AB4 !important;
line-height: 16px !important;outline:none;
}

.even a{
font-family: Arial !important;
font-size: 12px !important;
font-weight: bold !important;
color: #067AB4 !important;
line-height: 16px !important;outline:none;
}

.odd span {
font-family: Arial !important;
font-size: 13px !important;
color: #444444 !important;
line-height: 16px !important;
}


.even span {
font-family: Arial !important;
font-size: 13px !important;
color: #444444 !important;
line-height: 16px !important;
}


#familyservice_listing ul {
clear: none;
font-family: arial;
font-size: 12px;
padding-top: 4px;
}  

#content .first_230 .downloadsmedia a {
font-family: arial;
font-size: 13px;
font-weight: bold!important;
color: #067AB4;outline:none;
}



div#familyservice_listing h3 {
color: #444444 !important;
font-family: arial !important;
font-size: 14px !important;
font-weight: bold !important;
line-height: 17px !important;
padding-bottom: 0 !important;
}


#familyservice_listing .infographic h2 {
font-family: arial !important;
font-size: 13px !important;
font-weight: bold !important;
color: #808080 !important;
line-height: 17px !important;
}

#familyservice_listing .infographic p {
color: #808080;
font-family: arial;
font-size: 12px !important;
line-height: 16px !important;
}

#contactLanding ul li a {
font-family: Arial !important;
font-size: 12px !important;
font-weight: bold;
color: #067AB4 !important;
line-height: 16px !important;outline:none;
}

#getstarted {
    padding-top: 14px;
    padding-bottom:18px;
}
#getstarted #contactGetStarted h2 {
    color: #FF7200;
    font-family: arial !important;
    font-size: 13px !important;
    font-weight: bold !important;
    line-height: 16px !important;
    position: relative;
    top: 5px;
}


#getstarted #contactGetStarted ul li a {
font-family: Arial !important;
font-size: 12px !important;
font-weight: bold;
color: #067AB4 !important;
line-height: 16px !important;outline:none;
}
#contactLanding h2 {
    color: #FF7200;
    font-family: arial !important;
    font-size: 13px !important;
    font-weight: bold !important;
    line-height: 20px !important;
}

.first_950 .block2 p{ 
font-family: Arial;
font-size: 13px !important;
color: #444444 !important;
line-height: 16px !important;
}


#getstarted #contactGetStarted li {
    font-family: Arial;
    font-size: 12px !important;
    font-weight: bold;
    line-height: 16px !important;
    position:relative;
    top:-8px;
    *position:relative;
    position:relative\9;
    *top:-8px !important;
    top:-8px !important\9;
}
div#portfolio_listing .content h2 {
font-family: Arial !important;
font-size: 14px !important;
font-weight: bold !important;
line-height: 20px !important;
}

.callout-right a span {
    color: #067AB4 !important;
    font-family: arial !important;
    font-size: 13px !important;
    font-weight: bold !important;
    line-height: 15px !important;
}
.callout-right a:visited span {
        color: #81017E !important;
}
/*
.Orangeheader{
font-family:arial !important;
font-size:13px !important;
font-weight:bold !important;
color:#FF7200!important;
border-bottom:0px !important;
position:relative;
top:-15px;width:206px !important;
*top:-5px;*width:206px !important;
*display:block;margin-left:5px;}
.h3title{
	margin:4px 0px 0px 0px !important;
	width: 99%;*width:auto;
}

#content .group .blog h3 a{  
	font-family: arial !important;
 	font-size: 12px !important;
	font-weight: bold !important;
	margin:0px !important;
	position: relative;
	width:71% !important;*width:auto !important;*clear:none !important;outline:none;


}
.imgclass{margin:9px 0 0 9px !important;float: right;cursor:default !important; padding-bottom:0px !important;
border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;webkit-border-radius:3px;
}

.desc{font-family:arial !important; margin:0px !important;float:none;*float:left;
font-size:13px !important;
font-weight:normal !important;
color:#444444;line-height:16px !important;display: block !important;width: 100% !important;*width:auto !important;clear:left !important;}

.dateclass{font-family:arial !important;
font-size:11px !important;
font-weight:normal !important;
color:#444444 !important;
border-bottom-color: #CCCCCC !important;
border-bottom-style: solid !important;
border-bottom-width: 0px !important;
padding-bottom: 10px !important;
padding-top: 0 !important;

}

.dateclass1{font-family:arial !important;
font-size:11px !important;
font-weight:normal !important;
color:#444444 !important;
border-bottom-color: #CCCCCC !important;
border-bottom-style: solid !important;
border-bottom-width: 0px !important;
padding-bottom: 0px !important;
padding-top: 0 !important; 


}
*/
 span img {
    margin-left: 10px !important;
}
/*
.authorclass{font-family:arial !important;
font-size:11px !important;
font-weight:bold !important;
color:#067AB4 !important;}

div.my_wrapper{
    margin-left:7px; width: 204px;height:auto;
	border-bottom:1px solid #ccc !important;
	float:left;
position:relative;
top:-28px;
*top:-15px; }
div.my_wrapper1{
   margin-left:7px; width: 204px;height:auto;
	border-bottom:0px solid #ccc !important;
	float:left;position:relative;
top:-28px;margin-bottom:-30px !important;
*top:-15px;*margin-bottom:-25px !important;
 }*/
#content .sidebar .content .portfolio ul{
padding-bottom: 0px !important;
*padding-bottom:5px !important;
}
 
#content .sidebar .content .portfolio td ul{
padding-bottom: 0px !important;
*padding-bottom:0px !important;
}

#content .sidebar .content .portfolio{
margin-bottom:10px !important;
*padding-bottom:0px !important;
}  
div.my_left_box{
float: left;

width: 73%;
*width:71%;
 

}
div.my_right_box{
float: right;

width: 25%;
*width:29%;

}

 #content .sidebar .content .portfolio td ul {
    margin-top: -10px !important;
	*margin-top:-8px !important;

    margin-left:15px;
}
#content .group .blog h3{clear:none !important;}
.gs{margin-left:2px;}
.mt{margin-top:-5px;}
#contactGetStarted {
    background: url("/library/style/images/orange_overline_thick.png");
    background-size: auto auto;
    background-attachment: scroll;
    background-repeat: repeat-x;
    margin-top: 32px;
}
contactGroupLanding {
    padding-bottom: 20px;
}

.viewall a:visited{
color: #81017e !important;text-decoration:underline;
}

/* Blog New Structure CSS */


.post-image {
	
	width: 60px;
	overflow: hidden;
	float: right;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.Orangeheader{
	font-family: arial !important;
	font-size: 13px !important;
	font-weight: bold !important;
	color: #FF7200!important;
	border-bottom: 0px !important;
	 
	width: 206px !important;
 *width:206px !important;
 		margin: 0px 9px 9px 5px;
}
.mywrapper{ margin:-12px 9px 9px 9px; width: 204px;height:auto;
	border-bottom:1px solid #ccc !important;
	float:left;
 }
 .mywrapper1{ margin:-12px 9px 9px 9px; width: 204px;height:auto;
	float:left;
 }

 .article-header {
	display: block;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
}
.article-header h2 {
  margin: 0;padding-bottom:0px !important;*float:left !important;
  line-height: 1;clear:none !important;border-bottom:0px !important;*clear:both !important;*width:130px !important;
}
.article-header h2 a {
  font: bold 12px Arial;color:#067AB4;border-bottom:0px !important;
}
.article-header a {
  font-weight: bold;text-decoration:none;
}
.article-header  a:hover{text-decoration:underline;}
.post-content {
	padding: 0px;
	display: block;
	font-family: arial;
	font-size: 13px;
	line-height: 16px;
	color: #444444;padding-bottom:12px !important;*clear:left !important;
}
.post-date{font-family:arial !important;
font-size:11px !important;
font-weight:normal !important;
color:#444444 !important;padding-top:12px !important; }
.author-link a{font-family:arial !important;
font-size:11px !important;
font-weight:bold !important;
color:#067AB4 !important;text-decoration:none; }
.author-link a:hover{text-decoration:underline;}

.newimgclass{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;-ms-border-radius:5px;border-radius: 5px;}
.ieclass{
	*position:relative;
	position:relative\9;
	*top:-1px;
	top:-1px\9;
	left:0px !important;
}

/*FR-ABS_0623 styles*/
.casestudy {
	 height: auto;
	 border: 1px solid #CCC;
	 background: url("/library/style/images/gradient.png") repeat-x scroll left bottom transparent;
	 float:left;
 }
.casestudy_rbox .pdfbox{
	float:left;
	width:45px;
}
.casestudy_rbox .contentnewbox{
	float:left;
	width:90px;
	position: relative;
	top: 10px;
}
.casestudy_rbox .pdfbox img{
	position:relative;
	top:10px;
}
.casestudy_rbox{
	float:left;
	width:160px;
}
.casestudy_rrbox{
	float:left;
	width:159px;
}
.casestudy_lbox {
	float: left;
	width: 538px !important;
}
.casestudy_lbox h2{
	color: #FF7200;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold; 
	padding:18px 50px 0 15px;
}
.casestudy_main{
	padding: 35px 35px 0px 15px;
	padding: 18px 35px 0px 15px\9;
	*padding: 18px 35px 0px 15px;
	clear:both;

}
.casestudy_quote_logo{
	padding: 0px 0px 30px 20px;
	font-style:italic;
	color:#757575;
	font-size:16px;
	font-family:Arial;
	line-height:19px;
}
.casestudy_quote_logo h2{
	font-style:italic;
	color:#757575;
	font-size:16px;
	font-family:Arial;
	line-height:19px;
}
.casestudy_quote_logo p{
	padding: 15px 0px 0px 0px;
	font-size:11px;
	font-family:Arial;
	font-style:normal;
	color: #444444;
}
.casestudy_logo{
	float:right;
	left: -13px;
	padding: 0px 0px 0px 50px;
	position: relative;
}
.casestudy_quoteimage{
	padding:0 5px 0 0;
}
.casestudy_body{
	padding:0px 0px 0px 0px;
}
.casestudy_body h3{
	font-family:Arial;
	font-size:1.1em;
	color:#454545;
	line-height: 16px !important;
	padding:0 0 4px 0;
}
.casestudy_body p{
	font-size: 12px;
	line-height: 17px;
	font-family:Arial;
	color: #444444;
}
.casestudy_FactsCallout{
	float:right;
	width:310px;
	padding: 0px 0px 0px 0px;
	margin-left: 35px;
	margin-bottom: 30px;
	border-bottom:3px solid #FC982D;
}
.casestudy_FactsCallout h2{
	padding:6px 8px 0 8px;
	height:25px;
	background:#FC982D;
	color:#fff;
	font-family:arial;
	font-size:12px;
	margin-bottom: 1em;
}
.casestudy_FactsCallout h3{
	padding:0px 8px 4px 8px;
	font-family:Arial;
	font-size:1.1em;
	color:#454545;
	line-height:16px !important;
}
.casestudy_FactsCallout p{
	padding:0px 8px 0 8px;
	font-size: 12px;
	line-height: 17px;
	font-family:Arial;
	color: #444444;
}
.casestudy_Calloutrightquote{
	float:right;
	width:220px;
	padding:10px 0px 0px 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left:35px;
	border-left:1px solid #ccc;
}
.casestudy_Calloutrightquote h2{
	font-style:italic;
	line-height: 22px;
	color:#757575;
	font-size:16px;
	font-family:Arial;
	margin-bottom: 1em;
}
.casestudy_Calloutrightquote p{
	padding: 0px 0px 0px 0px;
	font-size:11px;
	font-family:Arial;
	font-style:normal;
	color: #444444;
}
.casestudy_Calloutleftquote{
	float:right;
	width:220px;
	padding:10px 20px 0px 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left:35px;
	border-right:1px solid #ccc;
}
.casestudy_Calloutleftquote h2{
	font-style:italic;
	line-height: 22px;
	color:#757575;
	font-size:16px;
	font-family:Arial;
	margin-bottom: 1em;
}
.casestudy_Calloutleftquote p{
	padding: 0px 0px 0px 0px;
	font-size:11px;
	font-family:Arial;
	font-style:normal;
	color: #444444;
}

/* Business Traveller Pages */
.mobile_taxonomy{border:1px solid #000;display:table;border-top:0px;border-right:0px;}
.mobile_box1{float:left;padding:12px;border-bottom:1px solid #000;border-right:1px solid #000;display:table-column;width:12%;}
.mobile_box2{float:left;padding:12px;border-bottom:1px solid #000;border-right:1px solid #000;display:table-column;width:12%;}
.mobile_box3{float:left; padding: 12px 12.6px 12px 12px;border-bottom:1px solid #000;display:table-column;width:65%;} 
.sidebar-alertbox {
	margin-bottom: 12.5em ! important;
	margin-bottom: 11.7em ! important\9;
	*margin-bottom: 11.7em ! important;
}
.content.dial_guide_class{border: 3px solid rgb(0, 112, 192) ! important; border-radius: 3px 3px 3px 3px; width: 680px ! important; padding: 25px 10px 15px 11px; *padding: 25px 10px 16px 11px;} 

.content.int_mob_term{border: 3px solid rgb(0, 112, 192) ! important; border-radius: 3px 3px 3px 3px; width: 680px ! important; padding: 18px 10px 22px 11px; *padding: 18px 10px 22px 11px;}

.content.access{border: 3px solid rgb(0, 112, 192) ! important; border-radius: 3px 3px 3px 3px; width: 680px ! important; padding: 16.4px 10px 17px 11px; *padding: 25px 10px 25px 11px;}
 .nbox3.ml.nl {
    margin: 0 0 0 -3px !important;
}
.nbox2.nlnew {
    margin: 0 0 0 -3px !important;
}
.nbox1.pl {
position: relative;left: 19px;

*position: relative;*left: 14px;

}
.plus.rl {
    left: 16px;
    position: relative;
}
.plusone.rl {
    left: 16px;
    position: relative;
}

.content.int_mob_term {
     border-radius: 3px 3px 3px 3px;
     border: 3px solid #0070C0 ! important;
     padding: 25px 10px 30px 11px; 
     width: 680px ! important;
} 

.content.dial_guide_class {
     border-radius: 3px 3px 3px 3px;
     border: 3px solid #0070C0 ! important;
     padding: 25px 10px 25px 11px;
     width: 680px ! important;
}

.content p.mb{margin-bottom:0px !important}


.content.access {
     border-radius: 3px 3px 3px 3px;
     border: 3px solid #0070C0 ! important;
     padding: 25px 10px 25px 11px;
       width: 680px ! important;
}

.share_this5,.share_this6{margin-right:31px;}



