.sliderbar				{
	width:					100%;
	border:					1px solid #CCC;
	height:					8px;
	border-radius:			4px;
	background:				#EEE;
}

.noUi_handle    			{
	height:					8px;
	width:					8px;
}

.noUi_midBar			{
	height:					8px;
}

.noUi-handle > div {
        position:                               absolute;
        width:                                  16px;
        height:                                 16px;
        top:                                    -5px;
        left:                                   -8px;
        z-index:                                5;
        border:                                 1px solid #CCC;
        background:                             #EEE;
}

.noUi-handle > div:hover,
.noUi-handle > div.noUi-activeHandle {
	background:				#ACE;
	border-color:			#369;
}
.disabled > .noUi-midBar {
	background:				#999;
}
.disabled .noUi-handle > div {
	border-color:			#CCC;
	background:				#CCC;
}

.noUi_midBar			{
	background:				#2673AB;
	background-image:		linear-gradient(bottom, rgb(94,153,196) 30%, rgb(38,116,171) 81%);
	background-image:		-o-linear-gradient(bottom, rgb(94,153,196) 30%, rgb(38,116,171) 81%);
	background-image:		-moz-linear-gradient(bottom, rgb(94,153,196) 30%, rgb(38,116,171) 81%);
	background-image:		-webkit-linear-gradient(bottom, rgb(94,153,196) 30%, rgb(38,116,171) 81%);
	background-image:		-ms-linear-gradient(bottom, rgb(94,153,196) 30%, rgb(38,116,171) 81%);
	background-image:		-webkit-gradient( linear, left bottom, left top, color-stop(0.3, rgb(94,153,196)), color-stop(0.81, rgb(38,116,171)) );
}
