/**
* Cascading Style Sheet for GSA Suggest.
*/

/* Classes for suggestion box */
.ss-gac-m {
	background: white;
	border-color: #DADADA;
	border-width: 0 0 1px 1px;
	border-style: solid;
	/*border: 1px solid #DADADA;*/
	cursor: default;
	line-height: 36px;
	margin: 0;
	position: absolute;
	z-index: 99;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius : 5px;
	margin-top: -2px;
	/* Firefox v3.5+ */
	-moz-box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#66cacaca,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#66cacaca,Positive=true);
}

.ss-gac-m-header {
	background: white;
	border-color: #DADADA;
	border-width: 0 0 1px 1px;
	border-style: solid;
	/*border: 1px solid #DADADA;*/
	cursor: default;
	line-height: 36px;
	margin: 0;
	position: absolute;
	z-index: 35000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius : 5px;
	border-top-left-radius: 5px;
	border-top-right-radius : 5px;
	margin-top: 2px;
	margin-left: -25px;
	/* Firefox v3.5+ */
	-moz-box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#66cacaca,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#66cacaca,Positive=true);
}

.ss-gac-m-header-ie {
	background: white;
	border-color: #DADADA;
	border-width: 0 0 1px 1px;
	border-style: solid;
	/*border: 1px solid #DADADA;*/
	cursor: default;
	line-height: 36px;
	margin: 0;
	position: absolute;
	z-index: 35000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius : 5px;
	border-top-left-radius: 5px;
	border-top-right-radius : 5px;
	margin-top: 2px;
	margin-left: -26px;
	/* Firefox v3.5+ */
	-moz-box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#66cacaca,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#66cacaca,Positive=true);
}

.ss-gac-m-ie {
	background: white;
	border-color: #DADADA;
	border-width: 0 0 1px 1px;
	border-style: solid;
	/*border: 1px solid #DADADA;*/
	cursor: default;
	line-height: 36px;
	margin: 0;
	position: absolute;
	z-index: 99;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius : 5px;
	margin-top: -2px;
	margin-left: 0px;
	/* Firefox v3.5+ */
	-moz-box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#66cacaca,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#66cacaca,Positive=true);
}
.ss-gac-m-chrome {
	background: white;
	border-color: #DADADA;
	border-width: 0 0 1px 1px;
	border-style: solid;
	/*border: 1px solid #DADADA;*/
	cursor: default;
	line-height: 36px;
	margin: 0;
	position: absolute;
	z-index: 99;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius : 5px;
	margin-top: -2px;
	margin-left: 2px;
	/* Firefox v3.5+ */
	-moz-box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow:1px 1px 3px rgba(202,202,202,0.4);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#66cacaca,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#66cacaca,Positive=true);
}
/*
hr {
height: 1px;
border: 0;
color: red;
background-color: #DADADA;
width: 99%;
} 
*/

.ss-gac-m td{
 	border-color: #DADADA;
    border-width: 1px 1px 0 0;
    border-style: solid;
    padding-left:10px;
	padding-right:10px;
    background-color: #white;	
}
.ss-gac-m-chrome td{
 	border-color: #DADADA;
    border-width: 1px 1px 0 0;
    border-style: solid;
    padding-left:10px;
	padding-right:10px;
    background-color: #white;	
}
.ss-gac-m-ie td{
 	border-color: #DADADA;
    border-width: 1px 1px 0 0;
    border-style: solid;
    padding-left:10px;
	padding-right:10px;
    background-color: #white;	
}
.ss-gac-m-header td{
 	border-color: #DADADA;
    border-width: 1px 1px 0 0;
    border-style: solid;
    padding-left:10px;
	padding-right:10px;
	padding-top: 0px;
	padding-bottom: 0px;
    background-color: #white;	
}
.ss-gac-m-header-ie td{
 	border-color: #DADADA;
    border-width: 1px 1px 0 0;
    border-style: solid;
    padding-left:10px;
	padding-right:10px;
	padding-top: 0px;
	padding-bottom: 0px;
    background-color: #white;	
}
.ss-gac-b {
	background: #EFEFEF;
	color: white;
	border: 1px solid #DADADA;
}
.ss-gac-c {
	overflow: hidden;
	padding-left: 3px;
	text-align: left;
	font-family:arial;
}
.ss-gac-d {
	color: green;
	font-size: 10px;
	overflow: hidden;
	padding: 0 3px;
	text-align: right;
	display: none;
}
.ss-gac-b td {
	color: black;
	background: none !important;
	font-family: Arial !important;
}
.ss-gac-e td {
	display: none;
}
.ss-gac-e span {
	color: #00c;
	cursor:pointer;
	text-decoration: underline;
}

#suggestionsText {
	font-style: italic;
}

#q {
    width: 278px;
}