<!--share panel styles-->

.share_this {
    float: right;
	padding-top: 0px;
}
.share_this2 {
	float:left;
	margin-top: -4px;
	margin-right: -5px;
}
.share_this3 {
	float:left;
	margin-top: 6px;
	margin-left: 50px;
}  
.share_this4 {
	float:right;  
	margin-top: 11px;
	margin-right: -5px;
	margin-bottom: 10px;
}
.share_this5 {
        margin-right: 28px;
}
#share-panel-wrapper {
    margin: 0 auto;
    width: 1162px;
}

#social-wrapper {
    margin: 0 auto;
    position: relative;
    width: 1162px;
}
#social-wrapper #position-social {
    left: 0;
    position: absolute;
    width: 85px;
}
#social-wrapper #position-social #social-share {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: url("/library/style/images/share-bkgd-97x295.png");
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
 	height: 266px;
	position:fixed;
	margin-top: 254px; 
	margin-top:249px !important\9;
	*margin-top:249px !important;
 	padding-bottom: 15px;
	padding-left: 9px;
	padding-right: 1px;
	padding-top: 13px;
 	top: 0;
	width: 84px; 

	 bottom: 166px;
	bottom:159px !important\9;*bottom:159px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

#social-wrapper #position-social #social-share {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: url("/library/style/images/share-bkgd-97x295.png");
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	position:fixed;
	height: 266px;
	
	margin-top: 250px; 
 	padding-bottom: 15px;
	padding-left: 9px;
	padding-right: 1px;
	padding-top: 13px;
 	top: 0;
	width: 84px;  bottom:151px !important; 
}

}
 

 
#social-share .share-cta, #social-share-2 .share-cta {
    margin-top: 10px;
}
#social-share span, #social-share-2 span {
    display: block;
    float: left;
    height: 32px;
    margin-top: 10px;
    width: 32px;
}
#social-share .st_email_custom, #social-share-2 .st_email_custom {
    background: url("/library/style/images/email_btn.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#social-share .st_twitter_custom, #social-share-2 .st_twitter_custom {
    background: url("/library/style/images/btn_share-Twitter-32-leftPanel.png") no-repeat scroll center center transparent;
    cursor: pointer;
}
#social-share .st_facebook_custom, #social-share-2 .st_facebook_custom {
    background: url("/library/style/images/facebook_btn.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#social-share .st_plusone_custom, #social-share-2 .st_plusone_custom {
    background: url("/library/style/images/google_plus_btn.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#social-share .st_linkedin_custom, #social-share-2 .st_linkedin_custom {
    background: url("/library/style/images/linked_in_btn.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#social-share .count_bubble, #social-share-2 .count_bubble {
    background: url("/library/style/images/LeftSharePanel-NumberBubble-full.png") no-repeat scroll 0 0 transparent;
    height: 12px;
    padding: 10px 0 10px 8px;
    text-align: center;
    width: 32px;
}
#social-share .st_googleplus_large span.stButton, #social-share-2 .st_googleplus_large span.stButton {
    margin: 0;
}
#social-share .st_googleplus_large span.stButton span.stLarge, #social-share-2 .st_googleplus_large span.stButton span.stLarge {
    margin: 0;
}
#social-share.fixed {
     top: 0;
}
#social-share-2 {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    display: none;
    height: 85px;
    padding: 0 20px;
}
#social-share-2 .count_bubble {
    margin-right: 57px;
}
#social-share-2 #emailcount-2 {
    margin-right: 0;
}

/*#social-wrapper {
    margin: 0 auto;
    position: relative;
    width: 1148px;
    z-index: 0;
}*/

#wrapper {
    margin: 0 auto;
    width: 980px;
    z-index: 99;
}
/*#social-wrapper {
    width: auto;
}
#social-wrapper #position-social {
    display: none;
}*/

#social-share-footer {
    background: url("/library/style/images/footer-bg.png") no-repeat scroll 0 0 transparent;
    clear: both;
    display: inline;
    float: left;
    margin: 30px 5px 0px 0px;
    padding: 4px 0;
    width: 950px;
}
#social-share-footer #share-description {
    color: #444444;
    display: block;
    float: left;
    font-family: Arial !important;
    font-weight: bold;
    font-size: 11px; 
    margin-left: 10px;
    padding-top: 4px;
}
#social-share-footer #share-counts {
    color: #777777;
    float: right;
    font-size: 11px;
    margin-right: 10px;
    padding-top: 1px;
}
#social-share-footer #share-counts .social-service {
    float: left;
}
#social-share-footer #share-counts .social-service img {
    float: left;
    margin: 0 -2px 0 18px;
    padding-top: 4px;
}
#social-share-footer #share-counts .linkedinDesktop {
    display: none;
}
#social-share-footer #share-counts .linkedinTablet {
    display: block;
}
#social-share-footer #share-counts .social-service .follower-counter {
    float: right;
    margin: -1px 0 0 5px;
    padding-top: 3px;
}
#social-share-footer #share-counts .social-service .follower-counter .follower-cap {
    background: url("/library/style/images/follower-count-left.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 18px;
    width: 11px;
}
#social-share-footer #share-counts .social-service .follower-counter .follower-mid {
    background: url("/library/style/images/follower-count-middle.png") repeat-x scroll 0 0 transparent;
    display: block;
    float: left;
    height: 12px;
    padding: 3px 2px 2px 1px;
}
#social-share-footer #share-counts .social-service .follower-counter .follower-end {
    background: url("/library/style/images/follower-count-right.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 18px;
    width: 4px;
}
.follower-counter2 {
    float: right;
    margin: -1px 0 0 5px;
    padding-top: 3px;
}
.follower-cap2 {
    background: url("/library/style/images/LeftSharePanel-NumberBubble-left.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 32px;
    margin: -35px 40px 0 0;
    width: 15px;
}
.follower-mid2 {
    background: url("/library/style/images/LeftSharePanel-NumberBubble-middle-expandable.png") repeat-x scroll 0 0 transparent;
    height: 32px;
    text-align: center;
    width: 10px;
	margin: -35px 10px 1px;
    padding: 10px 0 0px 8px;
}
.follower-end2 {
    background: url("/library/style/images/LeftSharePanel-NumberBubble-right.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 32px;
    margin: -43px 0 0 28px;
    width: 5px;
}

#social-share-3, #social-share-4 {
 float:right;
}
.share-cta{
    margin-top: 4px;
	margin-right:2px;
	float:left;
}
#social-share-3 span, #social-share-4 span {
    display: block;
    float: left;
    height: 24px;
    margin: 6px;
    width: 24px;
}
#social-share-3 .st_googleplus_custom, #social-share-4 .st_googleplus_custom {
    background: url("/library/style/images/btn_share-GooglePlus-24-leftPanel.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#social-share-3 .st_email_custom, #social-share-4 .st_email_custom {
    background: url("/library/style/images/btn_share-Email-24-leftPanel.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#social-share-3 .st_twitter_custom, #social-share-4 .st_twitter_custom {
    background: url("/library/style/images/btn_share-Twitter-24-leftPanel.png") no-repeat scroll center center transparent;
    cursor: pointer;
}
#social-share-3 .st_facebook_custom, #social-share-4 .st_facebook_custom {
    background: url("/library/style/images/btn_share-Facebook-24-leftPanel.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#social-share-3 .st_plusone_custom, #social-share-4 .st_plusone_custom {
    background: url("/library/style/images/btn_share-GooglePlus-24-leftPanel.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#social-share-3 .st_linkedin_custom, #social-share-4 .st_linkedin_custom {
    background: url("/library/style/images/btn_share-LinkedIn-24-leftPanel.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
.orangeHeader{
	color:#FF7200;
	font-weight:bold;
}

.social-share-wrapper #social-share-2 {
    height: 130px;
    padding: 0 10px;
}
.social-share-wrapper #social-share-2 .count_bubble {
    margin-right: 40px;
}

.IN-followcompany .IN-right .count{
	font-weight:normal!important;
	color: #777777 !important;
    font-size: 11px !important;
}

.marginblock{display:block;}
#social-share .st_googleplus_large {
    background: url("/library/style/images/googleplus_32.png") no-repeat scroll 0 0 transparent !important;
   
 }
 
 #social-share .st_googleplus_large span.stButton span.stLarge, #social-share-2 .st_googleplus_large span.stButton span.stLarge {
    background: url("") repeat scroll 0 0 transparent !important;
}
 <!--/share panel style-->

 
